<div>
    <div class="modal" tabindex="-1" role="dialog" id="confirmDialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete task?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    
                </div>

                <div class="modal-body">
                    <p>Do you want to delete task "{{$ctrl.currentTask.text}}" ?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" ng-click="$ctrl.onModalCancel()"><i class="fas fa-times icon-space"></i>Cancel</button>
                    <button type="button" class="btn btn-danger" ng-click="$ctrl.onDelete($ctrl.currentTask)"><i class="far fa-trash-alt icon-space"></i>Delete</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div style="display: inline-block"><h5>Tasks</h5></div>
    <a ng-click="$ctrl.onCreateClick()" style="margin-left:2em;"><i class="fas fa-plus pointer"></i></a>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width: 3em;"></th>
                        <th>Text</th>
                        <th style="width: 3em;"></th>
                        <th style="width: 3em;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="todo in $ctrl.todos track by todo.id" ng-class="{'task-done': todo.done}">
                        <td>
                            <a ui-sref="edit({ todoId: todo.id })" class="pointer">
                                <i class="fa fa-edit"></i>
                            </a> 
                        </td>
                        <td>
                            <a ui-sref="edit({ todoId: todo.id })" class="pointer">
                                {{todo.text}}
                            </a>
                        </td>
                        <td> 
                            <i 
                               ng-click="$ctrl.toggleDone(todo)"
                               class=" pointer" 
                               ng-class="{'far fa-square': !todo.done, 'far fa-check-square': todo.done}"></i>
                        </td>
                        <td>
                            <i  ng-click="$ctrl.onConfirmDelete(todo)"
                                class="far fa-trash-alt pointer"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>