<div>
  <div class="row">
      <div class="col">
              <form>
                <div class="form-group">
                  <label for="todoText">Text</label>
                  <input type="text" 
                    class="form-control" 
                    id="todoText" 
                    placeholder="Text" 
                    ng-keydown="$ctrl.onKeyDown($event)"
                    ng-model="$ctrl.todo.text">
                </div>
                <div class="form-group">
                  <label for="todoDescription">Description</label>
                  <textarea 
                    class="form-control"
                    id="todoDescription"
                    rows="7"
                    ng-model="$ctrl.todo.description"></textarea>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="$ctrl.todo.done"> Done
                  </label>
                </div>
                
              </form>
      </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary m-r-1em" ng-click="$ctrl.onSave()">
        <i class="fas icon-space" 
           ng-class="{'fa-plus pointer': $ctrl.isNew(), 'fa-save': !$ctrl.isNew()}"></i>Save</button>
      <button class="btn btn-danger m-r-1em" ng-if="!$ctrl.isNew()" 
              ng-click="$ctrl.onDelete()">
        <i class="far fa-trash-alt icon-space"></i>Delete</button>
      
      <button class="btn btn-secondary" ng-click="$ctrl.onCancel()">
          <i class="fas fa-times icon-space"></i>Cancel</button>
    </div>
  </div>
</div>